<!doctype html>
<html>

<head>
    <title>JS Invitation List</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <!-- <div class="headBox">
<div class="statsContainer">
  <script id="stats-template" type="text/template">
    <div class="displayCount">Total people <div class="peopleCount">{{count}}</div></div>
  </script>
</div>
                </div>
        <p class='peopleText centerText'>People</p> -->
        <div class="col-md-4 col-md-offset-4">
            <div class="containAll">
                <div class="addPerson">
                    <div class="adder item">
                        <span class="glyphicon glyphicon-plus btnAdd" aria-hidden="true"></span>

                        <input type="text" placeholder="Enter name" id="inputName">
                        <span class="glyphicon glyphicon-trash btnDel" aria-hidden="true"></span>
                    </div>



                    <div class="peopleContainer">
                        <!-- <div class="round round-sm hollow red"> -->
                        <script id="people-template" type="text/template">


                            <div class="item peopleItem">

                                <div class="itemEdit edit">
                                  <span class="glyphicon glyphicon-remove-circle cancelEdit" aria-hidden="true"></span>
                                  <input type="text" class="editTextInput" autofocus>
                                    <span class="glyphicon glyphicon-ok saveText" aria-hidden="true"></span>

                                </div>
                                <div class="noEdit">
                                    <i class="del"><span class="glyphicon glyphicon-remove removeItem" aria-hidden="true"></span></i>
                                    <div class="itemText"> {{.}}</div>
                                    <span class="glyphicon glyphicon-pencil editText" aria-hidden="true"></span>
                                </div>
                            </div>


                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="mustache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="transit.js"></script>
    <script src="transition.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script src="stats.js"></script> -->
    <script src="main.js"></script>

</body>

</html>
