.headBox{
  background: lightgrey;
  padding: 1%;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.centerText{
  text-align: center;
}

.peopleContainer{

}

.editText{
  float: right;
  color: #08adef;
}

#inputName{
  background: transparent;
   border: none;
   outline: none;
   padding-left: 5%;
   width: 72%;
}

.itemText{
  padding-left: 5%;
  display: inline-block;
  width: 72%;
  overflow: hidden;
}

.item{
border-width: 1px;
padding: 6%;
  border-style: none none solid none;
  border-color: lightgrey;

}

.addPerson{
  margin: 5% 5% 5% 5%;
padding: 5%;
background-color: white;
border-radius: 4px;
}

.containAll{
  background-color: #08adef;
height: 100%;
overflow: hidden;
border-radius: 4px;
 box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.2), 0 2px 19px 0 rgba(0, 0, 0, 0.19);
}

.btnAdd{
  color: #08adef;
}

.btnDel{
  float: right;
  color: red;
}

.removeItem{
  top: -2px;
}

.del{
  color: red;
}

.cancelEdit{
  /*float: left;*/
  top: 4px;
  color: red;
}

.peopleItem.edit .edit{
  display: initial;
}

.peopleItem.edit .noEdit{
  display: none;
}

.edit{
  display: none;
}

.editTextInput{
  position: absolute;
background: transparent;
border: none;
outline: none;
padding-left: 2%;
   display: inline-block;
   width: 48%;

}
.saveText{
  float: right;
  color: #08adef;
}

.glyphicon{
  cursor: pointer;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}
.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.hollow.red {
    color: #e60303;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #e60303;
    -moz-box-shadow: 0px 0px 0px 3px #e60303;
    box-shadow: 0px 0px 0px 3px #e60303;
}
/*
.round.red {
    background-color: red;
}*/
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
